@font-face {
    font-family: sfbold;
    src: url('sfbold.ttf');
}

@font-face {
    font-family: sfregular;
    src: url('sfregular.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.bgmain {
    background: #1a1a1a;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.divbar {
    background:
        linear-gradient(to bottom, #6cd98450, #273b3550);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.divbutton {
    margin: 5px;
}

#b_youtube {
    text-align: center;
    width: 50%;
    padding: 5px;
    float: left;
}

#b_download {
    text-align: center;
    width: 50%;
    padding: 5px;
    float: right;
}

.image_row::after {
    content: "";
    clear: both;
    display: table;
}

.column_image1 {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 5px;
}

.column_image2 {
    float: right;
    width: 50%;
    padding-left: 5px;
    padding-right: 15px;
}

.button {
    width: 100%;
    margin-bottom: 15px;
    font-size: 100%;
    font-family: sfregular;
    border: none;
    border-radius: 180px;
    color: #ffffff;
    background: #00000030;
    backdrop-filter: blur(10px);
}

.titlestyle {
    color: #ffffff;
    font-size: 50px;
    margin: 0;
    font-family: sfbold;
}

.textstyle {
    color: #707071;
    font-size: 10px;
    font-family: sfregular;
}

@media screen and (min-width: 720px) {

    .divbar {
        height: 50%;
    }

    .image_row {
        width: 50%;
        float: left;
    }
}